<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>杂志 - 暖心理</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../css/nuanxinli.min.css" />
    </head>
    <body>
        <!--头部begin-->
        {{{headerContent}}}
        <!-- 头部end-->
        <div class="content">
            <div class="container clear-fix">
                <div class="left">
                    <!--杂志容器-->
                    <div class="nxl-fragment-magazine-home">
                        <!--一期杂志-->
                        <div class="magazines">
                            <!--箴言-->
                            {{{jianyan1}}}
                            <!--杂志内容-->
                            {{{magazine1}}}
                            <!--箴言-->
                            {{{jianyan2}}}
                            <!--杂志内容-->
                            {{{magazine2}}}
                        </div>
                        <!--分页-->
                        <div class="nxl-paging">
                         {{{paging}}}
                        </div>
                        <!--分页-->
                    </div>
                </div>
                <div class="right">
                    <div class="download">
                        <div class="qrcode"></div>
                        <div class="opt">
                            <button class="btn-ios-download event-auto-click"><a target="_blank"  class="event-auto-click-target" style="text-decoration:none;color: #fff;" href="https://itunes.apple.com/cn/app/nuan-xin-li/id983939376?mt=8">ios</a></button>
                            <button class="btn-android-download event-auto-click"><a  class="event-auto-click-target" style="text-decoration:none;color: #fff;" href="http://app.nuanxinli.com/warm/WarmApp.apk">Android</a></button>
                        </div>
                    </div>
                    <div class="weixin">
                        <img src="../img/weixin.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright ©  2016 暖心理 All Rights Reserved 京ICP备13043456号 京公网安备11010802015164
        </div>
        <!--消息框-->
        <div id="message_release" style="display: none;z-index: 100 " class="nxl-message">
            <div class="content" style="width: 37%">
                <div class="title">
                    分享到微信
                    <div class="close"></div>
                </div>
                <div class="body">
                    <div class="wrap">
                        <table>
                            <tbody>
                            <!--标题-->
                            <tr class="h70">
                                <td class="w80">用微信‘扫一扫’右侧二维码，即可把文章分享 给您的微信好友或朋友圈。
                                    <div class="winxinTittle" style="margin:20px 20px 0px 0px;color:aab2bd; ">【文章：中国人的心理模型就是找妈，巨婴的国度】</div>
                                </td>
                                <td class="w20 title">
                                    <div class="text-box qr_container" style="height: 198px;margin-left: 50px" >

                                    </div>
                                </td>
                            </tr>
                            <!--内容-->
                            <tr class="h210" style="height: 100px">
                                <td class="w20">如何用<img src="" alt=""/>微信拍二维码</td>
                            </tr>
                            <tr class="h210">
                                <td class="w100 des" >
                                    <div class="text-box" style="width: 144%" >
                                        <img class="img" src="img/share/0001.png" alt=""/>
                                        <img class="img" src="img/share/0002.png" alt=""/>
                                        <img class="img" src="img/share/0003.png" alt=""/>
                                        <img class="img" src="img/share/0005.png" alt=""/>
                                        <img class="img" src="img/share/0006.png" alt=""/>
                                        <img class="img" src="img/share/0007.png" alt=""/>
                                    </div>
                                </td>
                            </tr>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="../lib/laydate/laydate.js"></script>
    <script src="../lib/unslider/js/unslider-min.js"></script>
    <script src="../js/qr.js"></script>
    <script src="../js/nuanxinli.min.js"></script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</html>