    <div class="content">
        <div class="wrap">
            <div class="subject">
                <div class="content clear-fix">
                    <div class="line"></div>
                    <div class="inner-left">
                        <img src="http://app.nuanxinli.com/{{user.photo}}" />
                    </div>
                    <div class="inner-right">
                        <p class="name">{{user.name}}</p>
                        <p class="type">{{consultant.levelTitle}}</p>
                        <p class="des">咨询理念：{{consultant.principle}}</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <p class="title">擅长领域</p>
                <p class="des">{{consultant.primaryField}}</p>
                <p class="title">简介</p>
                <p class="des form-control">
                    {{{consultant.specialty}}}
                </p>
            </div>
        </div>
    </div>
