<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>咨询 - 暖心理</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../css/nuanxinli.min.css" />
    </head>
    <body>
    <!--头部begin-->
    {{{headerContent}}}
    <!-- 头部end-->
        <div class="content">
            <div class="container clear-fix">
                <div class="left">
                    <!--咨询师详情-->
                    <div class="nxl-fragment-counselor-home-d">
                        <!--内容-->
                        {{{counselor}}}
                    </div>
                </div>
                <div class="right">
                    <!--招募令-->
                    <div class="recruit">
                        <img src="../img/recruit.jpg" />
                        <p class="des">暖心理咨询师入驻计划</p>
                        <button class="btn-normal-lg event-auto-click"><a  class="event-auto-click-target" style="text-decoration:none;color: #fff;" target="_blank" href="https://www.wenjuan.com/s/u2Afeq/">申请入驻</a></button>
                    </div>
                    <!--空白-->
                    <div class="nxl-margin-top-14"></div>
                    <!--在线客服-->
                    <div class="nxl-box">
                        <div class="title">
                            在线客服
                        </div>
                        <div class="body">
                            <div class="ocs">
                                <img src="../img/osc.jpg" />
                                <button class="btn-normal-lg openBDSQ">联系客服</button>
                            </div>
                        </div>
                    </div>
                    <!--空白-->
                    <div class="nxl-margin-top-14"></div>
                    <!--下载app-->
                    <div class="download">
                        <div class="qrcode"></div>
                        <div class="opt">
                            <button class="btn-ios-download event-auto-click"><a target="_blank"  class="event-auto-click-target" style="text-decoration:none;color: #fff;" href="https://itunes.apple.com/cn/app/nuan-xin-li/id983939376?mt=8">ios</a></button>
                            <button class="btn-android-download event-auto-click"><a  class="event-auto-click-target" style="text-decoration:none;color: #fff;" href="http://app.nuanxinli.com/warm/WarmApp.apk">Android</a></button>
                        </div>
                    </div>
                    <!--公众号二维码-->
                    <div class="weixin">
                        <img src="../img/weixin.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright ©  2016 暖心理 All Rights Reserved 京ICP备13043456号 京公网安备11010802015164
        </div>
    </body>
    <script src="../lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="../lib/laydate/laydate.js"></script>
    <script src="../lib/unslider/js/unslider-min.js"></script>
    <script src="../js/nuanxinli.min.js"></script>
</html>