<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>企业服务 - 暖心理</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/nuanxinli.min.css" />
</head>
<body>
<!--头部-->
<!--头部begin-->
{{{headerContent}}}
<!-- 头部end-->
<div class="content">
    <div class="container clear-fix">
        <div class="left">
            <div class="enter_bg">
                <img src="../img/enterprise/bg1.jpg">
            </div>
            <div class="nxl-margin-top-20"></div>
            <div class="nxl-fragment-comments">
                <div class="activityModule">
                    <p class="enterActivityType">心理测评：</p>
                    <div class="enterActivityContent enterMarginButtom_60">
                        暖心理通过为企业员工个人心理健康检查，为员工个人提供职业心理健康状况反馈报告，报告主要从快乐指数、压力状况、职业活力、抑郁倾向、心理资本五个方面评估员工的职业心理健康状况。个人心理检查报告一方面为员工认识自我心理健康状况提供较为科学和全面的依据，促进员工对心理健康问题的关注和了解；另一方面有助于企业在招聘工作中的人才选拔，有助于增加岗位匹配的合理性，可以作为组织给员工提供的心理福利，提升员工的心理幸福感和对组织的忠诚度，有助于促进组织的和谐发展。
                    </div>
                    <div class="enterActivityBg">
                        <img src="../img/enterprise/bg2.png"></div>
                    </div>
                <div class="activityModule">
                    <p class="enterActivityType">心理团建：</p>
                    <div class="enterActivityContent enterMarginButtom_60">
                        企业要使自身处于最佳发展状态，团队精神是必不可少的。培养一支充满团队精神的高绩效团队，是企业决策层的管理目标之一。要尽可能使该支队伍趋向于有着共同的目标和期望，有着相近或类似的观念、信念、价值和行为规则，以致得以形成一种共同的行为模式，团结共进，这需要公司全体人员的热心呵护;团结共进，众志成城，必须使公司的每个成员都能强烈地感受到自己是雄伟城墙中的一块砖，是不可缺少的一份子。砖与砖之间紧密结合是建立城墙的基础，这种紧密结合就是凝聚力，共同的目标是团队存在的基础，心理学家马斯洛曾说，杰出团队的显著特征便是具有共同的愿望与目的。由于人的需求不同、动机不同、价值观不同、地位和看问题的角度不同，对企业的目标和期望值有着很大的区别，因此，要使团队高效运转，就必须有一个共同的目标和愿景，但是在当今企业中恰巧就缺少这样的凝聚力，心理团建帮助带动企业凝聚力，帮助领导通过自身的系列言行对规章制度、纪律的执行，逐步建立起领导的威信，保证管理中组织、指挥的有效性。心理团建有利于员工自觉地按照企业的行为规范要求自己，形成团队良好的风气和氛围从而增加企业凝聚力和战斗力
                    </div>
                    <div class="enterActivityBg">
                        <img src="../img/enterprise/bg3.png">
                    </div>
                </div>
                <div class="activityModule">
                    <p class="enterActivityType">心理培训：</p>
                    <div class="enterActivityContent enterMarginButtom_60">
                        暖心理拥有国内最出色的心理培训专家队伍和全国一线的心理学大咖，深刻理解组织员工心理和行业需求，开发各类课程，针对职业心理健康、心理资本提升、积极领导力等方面，具有领先优势。数十万员工访谈、调查与心理辅导，深度洞察最本质需求；基于中国本土职业心理健康模型和数据库，开发设计课程，与企业需求准确结合；程形式丰富，注重问题解决和组织成员体验成长。所有讲师和资深顾问，均拥有心理学专业背景和多年企业培训经验，确保培训品质。
                    </div>
                    <div class="enterActivityBg">
                        <img src="../img/enterprise/bg4.png">
                    </div>
                </div>
                <div class="activityModule">
                    <p class="enterActivityType">心理咨询：</p>
                    <div class="enterActivityContent enterMarginButtom_60">我们企业中的任何一个员工，都可能会碰到一些棘手的、难以处理的问题：工作压力、情绪问题、人际关系、工作生活平衡、情感危机、子女教育、家庭关系、药物成瘾……它们往往对我们的日常生活和工作产生负面的影响，直接影响员工心理健康，影响工作质量，影响员工对客户的服务水平，影响客户对企业的认可度，甚至就此造成危机。暖心理运用各种形式为企业员工提供一对一的专业心理咨询，我们拥有集行业资源与心理咨询服务为一体的优质心理健康平台，国内首家心理领域专业垂直直播平台，资本翘楚薛蛮子先生天使注资，46万C端用户倾心所爱，8年线下咨询服务经验，运用心理学的方法使员工在认识、情感和态度上有所变化，解决其在工作、生活等方面出现的心理问题或障碍，帮助员工走出心理阴霾，使他们能够保持较好的心理状态投入到工作当中。</div>
                    <div class="enterActivityBg">
                        <img src="../img/enterprise/bg5.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="download">
                <div class="qrcode"></div>
                <div class="opt">
                    <button class="btn-ios-download">ios</button>
                    <button class="btn-android-download">Android</button>
                </div>
            </div>
            <div class="nxl-margin-top-20"></div>
            <div class="magazine">
                <div class="nxl-box">
                    <div class="nxl-box-right">
                        <div class="title">
                            杂志
                            <span class="small">2015.10.27 VOL.256期</span>
                        </div>
                    </div>
                    <div class="body">
                        <div class="nxl-fragment-magazine">
                            <div class="magazines event-auto-click">
                                <div class="content clear-fix">
                                    <img src="../img/magazine/magazine_1.jpg" />
                                    <div class="text">
                                        <p class="title"><a class="event-auto-click-target" target="_blank" href="#">爱情首先是给予，而不是 获得而不是获得</a></p>
                                        <p class="type">箴言</p>
                                    </div>
                                </div>
                            </div>
                            <div class="magazines event-auto-click">
                                <div class="content clear-fix">
                                    <img src="../img/magazine/magazine_1.jpg" />
                                    <div class="text">
                                        <p class="title"><a class="event-auto-click-target" target="_blank" href="#">爱情首先是给予，而不是 获得而不是获得</a></p>
                                        <p class="type">箴言</p>
                                    </div>
                                </div>
                            </div>
                            <div class="magazines event-auto-click">
                                <div class="content clear-fix">
                                    <img src="../img/magazine/magazine_1.jpg" />
                                    <div class="text">
                                        <p class="title"><a class="event-auto-click-target" target="_blank" href="#">爱情首先是给予，而不是 获得而不是获得</a></p>
                                        <p class="type">箴言</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nxl-more-simple">
                            <a href="#">更多杂志>></a>
                            <p>·小暖·每日都有更新哦~</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weixin">
                <img src="../img/weixin.png" />
            </div>
        </div>
    </div>
</div>
<div class="footer">
    Copyright © 2008-2014 中迪心理 All Rights Reserved 京ICP备13043456号 京公网安备11010802015164
</div>
</body>
<script src="../lib/jquery/jquery-2.1.4.min.js"></script>
<script src="../lib/laydate/laydate.js"></script>
<script src="../lib/unslider/js/unslider-min.js"></script>
<script src="../../dist/js/nuanxinli.min.js"></script>
</html>