{{#compare YES 'no'}}
<div class="header">
    <div class="container">
        <a class="logo" href="index.html">
            <img src="../img/logo.png"/>
        </a>
        <div class="login">
            <button class="btn-normal  event-auto-click"><a id="login" class="event-auto-click-target"
                                                            href="login.html?login=1">登录</a></button>
            <button class="btn-normal  event-auto-click"><a class="event-auto-click-target"
                                                            href="login.html?login=0">注册</a></button>
        </div>
    </div>
</div>
{{#compare INDEX '0'}}
<div class="nav">
    <div class="container">
        <ul>
            <li class="active">
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '1'}}
<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '2'}}
<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li class="active">
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '3'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li class="active">
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '4'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li class="active">
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '5'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li class="active">
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '6'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li class="active">
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
<!--{{#compare INDEX '5'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li class="active">
                <a href="solutionDream.html?page=0&size=4">解梦</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}-->
{{else}}
<div class="header">
    <div class="container">
        <a class="logo" href="index.html">
            <img src="../img/logo.png"/>
        </a>
        <div class="login event-auto-click">
            <div style="background-image: url(http://app.nuanxinli.com{{photo}});" class="portrait"></div>
            <div class="name">
                <a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber=0">{{alias}}</a>
            </div>
        </div>
    </div>
</div>
{{#compare INDEX '0'}}
<div class="nav">
    <div class="container">
        <ul>
            <li class="active">
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '1'}}
<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '2'}}
<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li class="active">
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '3'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li class="active">
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '4'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li class="active">
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '5'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li class="active">
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
{{#compare INDEX '6'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="enterService.html">企业服务</a>
            </li>
            <li>
                <a href="enterSunflowerPlan.html">癌症心理</a>
            </li>
            <li class="active">
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}
<!--{{#compare INDEX '5'}}
<div class="nav">
    <div class="container">
        <ul class="tab_ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a href="counselor.html?page=0&size=8">咨询</a>
            </li>
            &lt;!&ndash;<li class="active">
                <a href="solutionDream.html?page=0&size=4">解梦</a>
            </li>&ndash;&gt;
            <li>
                <a href="magazine.html?page=0&size=10">杂志</a>
            </li>
            <li>
                <a href="quanquan.html?page=0&size=10&kind=all">圈圈</a>
            </li>
            <li>
                <a href="abourtWarm.html">关于</a>
            </li>
        </ul>
    </div>
</div>
{{/compare}}-->
{{/compare}}