{{#each this}}
<div class="clear-fix-box">
    <div class="content-dream">
        <p class="title">{{title}}</p>
        <p class="img">
            <img src="../img/dream/star_0.png"/>
            <img src="../img/dream/star_0.png"/>
            <img src="../img/dream/star_0.png"/>
            <img src="../img/dream/star_0.png"/>
            <img src="../img/dream/star_1.png"/>
        </p>
        <p class="des">{{interpretation}}</p>
        <span class="btn-date">{{createTime}}</span>
        <!--<span class="btn-preview">浏览量500</span>-->
    </div>
</div>
{{/each}}