<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" id="viewport"
              content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>解梦 - 暖心理</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../css/nuanxinli.min.css"/>
    </head>
    <body>
    <!--头部begin-->
    {{{headerContent}}}
    <!-- 头部end-->
    <div class="content">
        <div class="container clear-fix">
            <div class="left">
                <!--释梦容器-->
                <div class="nxl-fragment-dream-home">
                    <!--解梦-->
                    <div class="magazines">
                        <div class="admonition">
                            <img src="../img/dream/dream-first.png"/>
                            <div class="dream btn-normal-cg event-auto-click">我要解梦</div>
                        </div>
                        <!--解梦内容-->
                        {{{solutionDream}}}
                    </div>
                    <!--分页-->
                    <div class="nxl-paging">
                        {{{paging}}}
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="nxl-details">
                    <div class="dream-title-right">
                        <!--解梦须知-->
                        <div class="title">解梦须知</div>
                        <div class="dream-notice">
                            <span>1</span>
                            <p>不要主观的认为梦是什么预示之类的，要知道梦是现实（生理、心理、外界刺激等）情况的伪装反映。</p>
                        </div>
                        <div class="dream-notice">
                            <span>2</span>
                            <p>解梦师为专业的精神分析流派从业多年的老师，<span>暖心理官方认证，品质有保障。</span></p>
                        </div>
                        <div class="dream-notice">
                            <span>3</span>
                            <p>解梦定价：20元/次，活动优惠期间按活动价格。</p>
                        </div>
                        <div class="dream-notice">
                            <span>4</span>
                            <p><span>梦的内容越翔实越好，如果记不清楚，只言片语，哪怕是一些关键词也是可以的。</span></p>
                        </div>
                        <div class="dream-notice">
                            <span>5</span>
                            <p>解梦的目的是为了揭示您内心潜意识中的矛盾和需要，是为了让自己更加清楚的认识自我，找出解决的方法。</p>
                        </div>
                        <div class="dream-notice">
                            <span>6</span>
                            <p>希望想解梦的朋友能积极配合，不要回避。如果解梦的结果，您不接受，您也不要太在意，就让时间来冲淡它吧。</p>
                        </div>
                        <div class="dream-notice">
                            <span>7</span>
                            <p>解梦结果及咨询师回复内容，默认以匿名方式发布。</p>
                        </div>
                        <div class="dream-notice">
                            <span>8</span>
                            <p>本模块最终解释权归暖心理所有。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        Copyright © 2008-2014 中迪心理 All Rights Reserved 京ICP备13043456号 京公网安备11010802015164
    </div>
    </body>
    <script src="../lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="../lib/laydate/laydate.js"></script>
    <script src="../lib/unslider/js/unslider-min.js"></script>
    <script src="../js/qr.js"></script>
    <script src="../js/nuanxinli.min.js"></script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</html>