{{#each this}}
<div class="comments-item">
    <div class="content">
        <div class="author clear-fix">
            <div class="portrait">
                <img src="http://app.nuanxinli.com{{userPhoto}}" />
                <p>{{replyFloor}}楼</p>
            </div>
            <div class="text">
                <p class="name">{{userAlias}} <span style="color: #BCC0C3;">回复  {{replyToAlias}}</span></p>
                <p class="time">{{createTime}}</p>
            </div>
        </div>
        <p class="des">{{content}}</p>
        <div style="display: none;">{{id}}</div>
        <div style="display: none;">{{postId}}</div>
        {{#if hasThanks}}
            {{#compare hasThanks "YES"}}
            <div class="thank" style="color:#fff;background:#fcab55;border-color:#fff;">感谢 <span>{{thanksCount}}</span> </div>
            {{else}}
            <div class="thank" >感谢 <span>{{thanksCount}}</span> </div>
            {{/compare}}
            {{else}}
            <div class="thank" >感谢 <span>{{thanksCount}}</span> </div>
        {{/if}}
        <div style="display: none">{{partCode}}</div>
        <div style="display: none">{{replyToUser}}</div>
        <div class="reply" data-toggle="nxl-message" data-target="#replySomeone" >回复</div>
        <div style="display: none;">{{id}}</div>
        <div style="display: none;">{{postId}}</div>
        <div style="display: none">{{hasThanks}}</div>
    </div>
</div>
{{/each}}