{{#each this}}
<!--主题-->
<div class="comments-subject">
    <div class="content clear-fix">
        <p class="title"><a href="quanquan_detail.html?page=0&size=10&Id={{id}}">{{title}}</a></p>
        <div class="author clear-fix">
            <a href="guestPage.html?page=0&size=10&username={{createUser}}"><img src="http://app.nuanxinli.com{{userPhoto}}" /></a>
            <div class="text">
                <p class="name">{{userAlias}}</p>
                <p class="time">{{createTime}}</p>
            </div>
        </div>
        <p class="des">{{content}}</p>
        <span class="info">热度：{{hotrank}}&nbsp;&nbsp;&nbsp;<a href="quanquan_detail.html?page=0&size=10&Id={{id}}">评论</a>：{{replyCount}}</span>
        <div style="display: none;">{{id}}</div>
        {{#if hasPraise}}
            {{#compare hasPraise "YES"}}
            <div class="praise" style="color:#fff;background:#fcab55;border-color:#fff; ">送暖 <span>{{praiseCount}}</span></div>
            {{else}}
            <div class="praise">送暖 <span>{{praiseCount}}</span></div>
            {{/compare}}
        {{/if}}
        <div style="display: none">{{hasPraise}}</div>
    </div>
    <p class="kinds">{{partName}}</p>
</div>
{{/each}}