<div class="wrap">
    <div class="subject">
        <div class="content clear-fix">
            <div class="inner-left">
                <img src="http://app.nuanxinli.com{{photo}}" />
            </div>
            <div class="inner-right">
                <p class="name">{{alias}}</p>
                <p class="type">{{sexDisplay}} {{age}} 心理学小白</p>
                <p class="des">{{descr}}</p>
            </div>
        </div>
        <div class="contact">
            <span>手机号：{{cellPhone}}</span>
            <span>邮箱：{{email}}</span>
        </div>
        <div class="edit event-auto-click"><a class="editContent  event-auto-click-target" href="edit.html?page=0">编辑</a></div>
    </div>
</div>