<!--
{{#compare type "1"}}
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">解梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">优惠券</a>(<span class="consultationRecordCount">{{recordCount4}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">我的收藏</a>(<span class="dreamRecordCount">{{recordCount5}}</span>)</li>
{{/compare}}
{{#compare type "2"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">解梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">优惠券</a>(<span class="consultationRecordCount">{{recordCount4}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">我的收藏</a>(<span class="dreamRecordCount">{{recordCount5}}</span>)</li>
{{/compare}}
{{#compare type "3"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">解梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">优惠券</a>(<span class="consultationRecordCount">{{recordCount4}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">我的收藏</a>(<span class="dreamRecordCount">{{recordCount5}}</span>)</li>
{{/compare}}
{{#compare type "4"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">解梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">优惠券</a>(<span class="consultationRecordCount">{{recordCount4}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">我的收藏</a>(<span class="dreamRecordCount">{{recordCount5}}</span>)</li>
{{/compare}}
{{#compare type "5"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">解梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">优惠券</a>(<span class="consultationRecordCount">{{recordCount4}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">我的收藏</a>(<span class="dreamRecordCount">{{recordCount5}}</span>)</li>
{{/compare}}-->
{{#compare type "1"}}
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">释梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
{{/compare}}
{{#compare type "2"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">释梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
{{/compare}}
{{#compare type "3"}}
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=1&mNumber={{magazineNumber}}">帖子</a>(<span class="postRecordCount">{{recordCount1}}</span>)</li>
<li class="event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=2&mNumber={{magazineNumber}}">咨询</a>(<span class="consultationRecordCount">{{recordCount2}}</span>)</li>
<li class="on event-auto-click"><a class="event-auto-click-target" href="personalPage.html?page=0&tabs=3&mNumber={{magazineNumber}}">释梦</a>(<span class="dreamRecordCount">{{recordCount3}}</span>)</li>
{{/compare}}